In [3]:
import numpy as np
import pandas as pd

In [10]:
a = np.array([[1],[2],[3]])

In [12]:
m,n = a.shape

In [13]:
m

3

In [11]:
np.random.rand(3,2)

array([[ 0.14963961,  0.78642997],
       [ 0.96554382,  0.46642138],
       [ 0.68389243,  0.83517551]])

In [10]:
np.random.rand([10,1])

TypeError: 'list' object cannot be interpreted as an integer

In [2]:
np.random.rand(1)

array([ 0.92071969])

In [18]:
train = pd.DataFrame({"var1":[1,2,3],'var2':[4,5,6],'y':[1,2,3]})

In [7]:
train

   var1  var2
0     1     4
1     2     5
2     3     6

In [9]:
train.values.shape

(3, 2)

In [12]:
train.values

array([[1, 4],
       [2, 5],
       [3, 6]])

In [13]:
np.array([[1,4],[2,5],[3,6]])

array([[1, 4],
       [2, 5],
       [3, 6]])

In [15]:
train[['var1','var2']].values

array([[1, 4],
       [2, 5],
       [3, 6]])

In [19]:
np.log(train['y'].values)

array([ 0.        ,  0.69314718,  1.09861229])

In [21]:
train['y'].values*np.array([0.1,0.2,0.3])

array([ 0.1,  0.4,  0.9])

In [22]:
a = np.array([[1],[2]])

In [23]:
np.squeeze(a)

array([1, 2])